.resort-now-block{
    background: lightgray;
}
.rnb-title{
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
    height: 40px;
}
.rnb-image{
    height: 200px;
    background-size: cover;
    position: relative;
}
.rnb-desc{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 66px;
    color: white;
}
.rnb-desc p{
   margin-top: 2px;
   margin-bottom: 0px;
}
.rnb-details{
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
}

.rnb-side{
    width: 100%;
    text-align: center;
}

.rnb-side div{
    height: 100px;
}
.rnb-side div p{
    margin: 0;
    margin-top: 3px;
}
.rnb-temperature{
    font-size: 38px;
}